@import '_variables'
@import '_normalize'
@media only screen and (max-width: 1280px)
li
    display: block
.header
    background-color: white
.headerList
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 1rem 3rem
.logoContainer
    width: 3rem
    .logo
        width: 100%
.title
    color: $mainBlue
    font-size: 1.5rem
@media only screen and (max-width: 1024px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 640px)